.sc-visual {
    position: relative;
    display: flex;
    gap: 25px;
}

/* slide-btn */
.sc-visual .slide-btn {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 350px;
}
.sc-visual .slide-btn [class*="btn-"] {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.sc-visual .slide-btn [class*="btn-"]::before {
    content: '';
    background: #fff url('https://www.seoul.go.kr/res_newseoul/images/main/icon_main_2019.png') no-repeat 0 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.sc-visual .slide-btn [class*="btn-"] {
    position: relative;
    background-color: #d2e1e9;
    font-weight: 600;
    font-size: 14px;
}
.sc-visual .slide-btn [class*="btn-"].on {
    background-color: #0158a8;
    color: #fff;
}
.sc-visual .slide-btn [class*="btn-"].on::after {
    z-index: 10;
    position: absolute;
    left: 75px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 0;
    height: 0;
    background-color: transparent;
    border-color: transparent transparent transparent #0158a8;
    border-style: solid;
    border-width: 30px;
}
.sc-visual .slide-btn .btn-news::before {
    background-position: 0 0;
}
.sc-visual .slide-btn .btn-citizen::before {
    background-position: -50px 0;
}
/* 'https://www.seoul.go.kr/res_newseoul/images/main/icon_main_2019.png' */
/* "https://www.seoul.go.kr/res_newseoul/images/main/icon_main_2019.png" */

/* Swiper */
.main-slide {
    margin-right: 0;
    width: 690px;
}
.main-slide .swiper-wrapper{
}
.main-slide .swiper-slide {
}
.main-slide .swiper-slide span {
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    width: 690px;
    height: 40px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}
.main-slide .swiper-wrapper a{
    display: block;
    width: 690px;
}
.main-slide .control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    bottom: 0;
    z-index: 2;
}
.main-slide .control .fraction {
    /* position: absolute; */
    color: #fff;
}
.swiper .prev {
    /* position: absolute;
    right: 40px;
    bottom: 0; */
    width: 18px;
    height: 18px;
    background: url('https://www.seoul.go.kr/res_newseoul/images/main/icon_set_common_2019.png') no-repeat -244px -285px;
}
.swiper .next {
    /* position: absolute;
    right: 0;
    bottom: 0; */
    width: 18px;
    height: 18px;
    background: url('https://www.seoul.go.kr/res_newseoul/images/main/icon_set_common_2019.png') no-repeat -256px -285px;
}
.swiper .control .autoplay {
    width: 18px;
    height: 18px;
    /* background-color: #f00; */
    background: url('https://www.seoul.go.kr/res_newseoul/images/main/icon_set_common_2019.png') no-repeat;
    background-position: -285px -285px;
}
.swiper .control .autoplay.on {
    background-position: -269px -285px;
}
.swiper .control .btn-wrap {
    display: flex;
    align-items: center;
}


.mayor .mayor-news a{
    display: block;
    width: 360px;
}

.mayor .corona-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 36px;
    background: #99ddf4;
    padding: 0 5px;
}
.mayor .corona-info .count {
    display: flex;
    gap: 3px;
    align-items: center;
    background: #319ac6;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding-left: 4px;
}
.mayor .corona-info .count span {
    font-size: 16px;
    font-weight: bold;
} 
.mayor .corona-info .count a {
    display: flex;
    height: 24px;
    align-items: center;
    background: #000;
    border-radius: 5px;
    font-size: 13px;
    padding: 0 3px;
}
.mayor .corona-info .count a::after {
    display: inline-block;
    margin-left: 3px;
    content: '';
    width: 8px;
    height: 11px;
    background: url('https://www.seoul.go.kr/res_newseoul/images/main/ico-triangle.png') no-repeat 0 0;
}
.mayor .corona-info .date {
    font-size: 12px;
    font-weight: bold;
}

.mayor .mayor-news {
    margin-top: 10px;
}
.mayor .mayor-news a {
    position: relative;
}
.mayor .mayor-news span {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}


.to-mayor {
    position: relative;
    margin-top: 15px;
}

.to-mayor .mayor-link {
    position: absolute;
    right: 12px;
    top: 15px;
}
.to-mayor .to-mayor-links {
    display: flex;
    width: 100%;
    height: 26px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #8b7153;
} 
.to-mayor .to-mayor-links a {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}


.headline {
    font-size: 24px;
    font-weight: bold;
}

.sc-service {
    margin-top: 50px;
}
.sc-service .header-wrap {
    padding: 10px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.sc-service .header-wrap .service-more {
    display: block;
    line-height: 30px;
    width: 110px;
    height: 30px;
    border: 1px solid #ddd;
    margin-left: 30px;
    margin-right: auto;
    padding-left: 10px;
    background: url('https://www.seoul.go.kr/res_newseoul/images/icon_link6.png') no-repeat right 13px top 50%; 
    font-size: 15px;
}
.service-links {
    position: relative;
    display: flex;
    gap: 30px;
    align-items: center;

}
.service-links .service-story {
    display: block;
    width: 65px;
    height: 30px;
    background: url('https://www.seoul.go.kr/res_newseoul/images/main/logo_event.png') no-repeat;
}
.service-links .service-story::after {
    position: absolute;
    top: 10px;
    left: 80px;
    display: block;
    content: "";
    width: 1px;
    height: 16px;
    background: #dbdbdb;
}
.service-links .service-festival {
    display: block;
    width: 95px;
    height: 30px;
    background: url('https://www.seoul.go.kr/res_newseoul/images/main/logo_event.png') no-repeat -65px 0;
}



.sc-service .service-list {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.sc-service .service-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sc-service .service-item .service-icon{
    margin-bottom: 10px;
    display: block;
    width: 60px;
    height: 60px;
    background: url('https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png') no-repeat;
}
.sc-service .service-item .service-text {
    font-size: 15px;
}
.sc-service .service-item .icon1 {
    background-position: -360px 0;
}
.sc-service .service-item .icon3 {
    background-position: -120px 0;
}
.sc-service .service-item .icon4 {
    background-position: -300px 0;
}
.sc-service .service-item .icon5 {
    background-position: -180px 0;
}
.sc-service .service-item .icon6 {
    background-position: -960px 0;
}
.sc-service .service-item .icon7 {
    background-position: -780px 0;
}
.sc-service .service-item .icon8 {
    background-position: -1140px 0;
}
.sc-service .service-item .icon9 {
    background-position: -1020px 0;
}
.sc-service .service-item .icon10 {
    background-position: -60px 0;
}
.sc-service .service-item .icon11 {
    background-position: -1080px 0;
}
.sc-service .service-item .icon12 {
    background-position: -600px 0;
}



.sc-consult {
    margin-top: 35px;
    background: #eff4f8;
}
.sc-consult .consult-list {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.sc-consult .consult-item a {
    position: relative;
}
.sc-consult .consult-item:first-child a::before {
    display: none;
}
.sc-consult .consult-item a::before {
    position: absolute;
    top: 5px;
    content: "";
    width: 1px;
    height: 60px;
    background: #dbdbdb;
}



.sc-board {
    display: flex;
    gap: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.board .headline {
    border-bottom: 2px solid #dbdbdb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.sc-board .board {
    position: relative;
    width: 360px;
}
.sc-board .board .link-more {
    position: absolute;
    top: 10px;
    right: 1px;
    border: 1px solid #ccc;
    display: block;
    width: 20px;
    height: 18px;
    background: url('https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png') no-repeat -2px -2px;
}

.sc-board .item {
    font-size: 15px;
    padding: 6px 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sc-board b {
    margin-right: 6px;
}

.sc-board .environment {
    color: #599100;
}
.sc-board .culture {
    color: #9b64d3;
}
.sc-board .welfare{
    color: #d76000;
}
.sc-board .house {
    color: #c35c3c;
}
.sc-board .economy {
    color: #069363;
}
.sc-board .transportation {
    color: #337ee2;
}

.like-service {
    width: 360px;
}
.like-service .headline {
    margin-bottom: 10px;
}
.like-service .like-list{
    display: flex;
    flex-wrap: wrap;
    background: #eff4f8;
    padding: 15px;
}
.like-service .like-item{
    width: 50%;
    margin-bottom: 10px;
}


.sc-field .headline {
    margin-bottom: 20px;
}
.sc-field ul{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.sc-field ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sc-field ul a {
    display: block;
    width: 85px;
    height: 100px;
}
.sc-field ul .f-icon1 {
    background: url('https://www.seoul.go.kr/res_newseoul/images/icon_house.png') no-repeat;
}
.sc-field ul .f-icon2 {
    background: url('https://www.seoul.go.kr/res_newseoul/images/icon_economy.png') no-repeat;
}
.sc-field ul .f-icon3 {
    background: url('https://www.seoul.go.kr/res_newseoul/images/icon_traffic.png') no-repeat;
}
.sc-field ul .f-icon4 {
    background: url('https://www.seoul.go.kr/res_newseoul/images/icon_environment.png') no-repeat;
}
.sc-field ul .f-icon5 {
    background: url('https://www.seoul.go.kr/res_newseoul/images/icon_welfare.png') no-repeat;
}
.sc-field ul .f-icon6 {
    background: url('https://www.seoul.go.kr/res_newseoul/images/icon_safty.png') no-repeat;
}
.sc-field ul .f-icon7 {
    background: url('https://www.seoul.go.kr/res_newseoul/images/icon_culture.png') no-repeat;
}
.sc-field ul .f-icon8 {
    background: url('https://www.seoul.go.kr/res_newseoul/images/icon_work.png') no-repeat;
}




.sc-news {
    position: relative;
    padding-top: 50px;
}
.sc-news h2 {
    margin-bottom: 20px;
}
.sc-news .news-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.sc-news li {
    /* position: relative; */
}
.sc-news .img-box {
    position: relative;
    height: 188px;
    margin-bottom: 15px;
    overflow: hidden;
}
.sc-news img {
    /* height: 188px; */
    height: 100%;
    transform: scale(1.0);
    transition: 0.3s ease-in-out;
}
.sc-news img:hover {
    transform: scale(1.1);
}
.sc-news .img-box h3 {
    width: 82px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    /* bottom: 43px;
    left: 0; */
}

.sc-news .h-wel {
    background: #d76000;
}
.sc-news .h-env {
    background: #599100;
}
.sc-news .h-an {
    background: #e44869;
}
.sc-news .h-hang {
    background: #028ab6;
}
.big-item .img-box {
    width: 273px;
    height: 248px;
    /* position: absolute;
    top: 343px;
    right: 0; */
}
.big-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sc-info {
    display: flex;
    margin-top: 50px;
    padding-bottom: 80px;
    border-bottom: 3px solid #000;
}
.sc-info b {
    font-weight: 400;
    color: #09ac43;
    margin-right: 18px;
}
.info1 {
    margin-right: 20px;
}
.info1 .headline {
    margin-bottom: 20px;
}
.info2 .headline {
    margin-bottom: 20px;
}
.info2 .info2-list {}
.info2 .info2-item {
    /* margin-bottom: 10px; */

    /* margin: 8px 0; */
    padding: 8px 0;
    width: 480px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info3 {
    position: relative;
    width: 350px;
    height: 195px;
    margin-left: 30px;
}

.info3 .info-3-background {
    display: block;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    background: url('https://www.seoul.go.kr/res_newseoul/images/main/bg_sns_list_202205.jpg?ver=20191204') no-repeat;
}
.info3 ul {
    position: absolute;
    left: 30px;
    bottom: 70px;
    display: flex;
    gap: 10px;
}
.info3 .sns-logo {
    display: block;
    width: 40px;
    height: 40px;
    background: url('https://www.seoul.go.kr/res_newseoul/images/main/ico_sns_list_202205.png?ver=20210401') no-repeat;
}
.info3 .sns-logo2 {
    background-position: -40px 0;
}
.info3 .sns-logo3 {
    background-position: -80px 0;
}
.info3 .sns-logo4 {
    background-position: -120px 0;
}
.info3 .sns-logo5 {
    background-position: -160px 0;
}
.info3 .sns-logo6 {
    background-position: -200px 0;
}


.sc-slide {
    padding: 50px 0;
}
.banner-slide .control {
    position: relative;
    height: 32px;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
}
.banner-slide .control .btn-wrap {
    display: flex;
    /* position: absolute; */
    right: 30px;
    bottom: 0;
}
.banner-slide .control .btn {
    border: 1px solid #999;
    display: block;
    width: 20px;
    height: 20px;
}
.banner-slide .control .prev {
    background: url('https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png') no-repeat -45px -43px;
}
.banner-slide .control .next {
    background: url('https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png') no-repeat -86px -43px;
}
.banner-slide .control .autoplay {
    background: url('https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png') no-repeat -65px -43px;
}
.banner-slide .control .autoplay.on {
    background: url('https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png') no-repeat -101px -43px;;
}
.banner-slide .control .fraction {
    width: auto;
    font-size: 14px;
}

.sc-relate {
    position: relative;
}
.sc-relate .relate-list {
    display: flex;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    font-size: 14px;
}
.sc-relate .relate-item {
    border-right: 1px solid #d0d0d0;
    text-align: center;
    background: #f7f7f7;
    flex: 1;
}
.sc-relate .btn-relate {
    width: 100%;
    padding: 16px 0;
}
.sc-relate .btn-relate.on{
    background: #ccc;
}
.sc-relate .btn-relate span {
    position: relative;
    /* border: 1px solid #000; */
}
.sc-relate .btn-relate span::after {
    content: '';
    position: absolute;
    top: 50%;
    /* display: inline-block;
    vertical-align: middle; */
    margin-left: 10px;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-color: #373737;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg);
    transition: 0.3s;
}
.sc-relate .btn-relate.on span::after {
    top: 20%;
    transform: rotate(45deg);
}
.sc-relate .sub-wrap {
    display: none;
    position: absolute;
    left: 0;
    bottom: 55px;
    width: 100%;
    z-index: 1;
}
.sc-relate .sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
    border: 1px solid #d0d0d0;
    background-color: #fff;
    padding: 10px 20px 20px;
}
.sc-relate .sub li {
    flex: 25%;
    padding-top: 10px;
    text-align: left;
}



/* 중앙행정기관 */
.sc-relate .btn-link span::after  {
    display: none;
}


/* 상단이동버튼 */
.fix-top {
    position: fixed;
    right: 15px;
    bottom: -100px;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    transition: 1s;
}
.fix-top.on {
    opacity: 1;
    bottom: 100px;
}